<div class="jumbo static-content">
  <h2>About Me</h2>
  <p>
    Hi, I'm Colin. I'm a front end developer based in Chicago, IL. I love to travel, build things, spend time outdoors and am always learning new things.
  </p>
  <img class="about-img" src="/images/apostles-me.jpg" alt="colin boyd at twelve apostles"/>
</div>
