<div class="jumbo">
  <h2>About Me</h2>
  <p>
    Hi, I'm Colin. I'm a front end developer based in Chicago, IL. I love to travel, build things, spend time outdoors and am always learning new things.
  </p>
  {{#link-to 'contact' class="button"}}
    contact
  {{/link-to}}<br>
  {{#link-to 'skills' class="button"}}
    skills!
  {{/link-to}}
</div>
