<div class="jumbo">
  <h2>Contact Me</h2>
  <p>Contact me for work, projects or just to say hi.</p>
  <p>
    Currently Located in : Chicago, IL
    <a href="tel:773.555.1111">+1 (773) 555-1111</a><br>
    <a href="mailto:superrentalsrep@emberjs.com">colinboyd@youshouldhirehim.com</a>
  </p>
  {{#link-to 'about' class="button"}}
    about
  {{/link-to}}<br>
  {{#link-to 'skills' class="button"}}
    skills
  {{/link-to}}
</div>
