<div class="jumbo static-content">
  <h2>Contact Me</h2>
  <p>Contact me for work, projects or just to say hi.</p>
  <p>
    Currently Located in : Chicago, IL <br>
    <a style="color: #fff" href="tel:773.555.1111">+1 (773) 555-1111</a><br>
    <a style="color: #fff" href="mailto:superrentalsrep@emberjs.com">colinboyd@youshouldhirehim.com</a>
  </p>

</div>
